footer {
  background-color: #004080;
}


footer a {
  color: #f8f9fa;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #cce7ff;
}
footer h5 {
  margin-bottom: 1rem;
}

footer .container {
  padding: 2rem;
}
