<div class="container">
  <div *ngIf="(auction?.photos ?? []).length > 0" class="mt-4">
    <swiper-container [slidesPerView]="1" [navigation]="true" [pagination]="true" class="mySwiper">
      <swiper-slide *ngFor="let photo of auction?.photos ?? []">
        <img
          [src]="'data:' + photo?.contentType + ';base64,' + photo?.photoData"
          class="img-fluid"
          style="max-width: 100%; max-height: 500px; display: block; margin: 0 auto;" />
      </swiper-slide>
    </swiper-container>
    <div class="thumbnail-container">
      <img
        *ngFor="let photo of auction?.photos ?? []; let i = index"
        [src]="'data:' + photo?.contentType + ';base64,' + photo?.photoData"
        class="img-thumbnail"
        [class.selected]="i === currentImageIndex"
        (click)="currentImageIndex = i"
        style="max-width: 100px; max-height: 100px; margin-right: 10px; cursor: pointer;">
    </div>
  </div>
  <h2 class="my-4">{{ auction?.title }}</h2>
  <div *ngIf="auction">
    <p><strong>Description:</strong> {{ auction.description }}</p>
    <p><strong>Starting Price:</strong> {{ auction.startingPrice}}</p>
    <p><strong>Current Price:</strong> {{ auction.currentPrice !== null ? (auction.currentPrice | currency) : 'N/A' }}</p>
    <p><strong>Start Date:</strong> {{ auction.startDate | date:'medium' }}</p>
    <p><strong>End Date:</strong> {{ auction.endDate | date:'medium' }}</p>
    <p><strong>Category:</strong> {{ auction.category }}</p>
    <p><strong>Status:</strong> {{ auction.isActive ? 'Active' : 'Inactive' }}</p>
  </div>
  <div class="bid-form mt-4">
    <h4>Place a New Bid</h4>
    <form (submit)="placeBid()">
      <div class="form-group">
        <label for="bidAmount">Bid Amount:</label>
        <input
          type="number"
          class="form-control"
          id="bidAmount"
          [(ngModel)]="newBidAmount"
          name="bidAmount"
          required
          min="{{ auction?.currentPrice ?? auction?.startingPrice }}" />
      </div>
      <button type="submit" class="btn btn-primary">Place Bid</button>
    </form>
  </div>
  <div>
    <h3>Live Bids</h3>
    <ul>
      <li *ngFor="let bid of bids">
        {{ bid.userId }} placed a bid of ${{ bid.amount }} for auction {{ bid.auctionId }}
      </li>
    </ul>
  </div>
  <button class="btn btn-primary" (click)="router.navigate(['/auctions'])">Back to Auctions</button>
</div>
